<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/js/bootstrap.js" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Mistura</a>
         <!-- <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Restaurantes</li>
              <li><a href="#">La Anchoveta Azul</a></li>
              <li><a href="#">La Posada del Pez</a></li>
              <li><a href="#">Punto Marino</a></li>
              <li><a href="#">Kausaq Cocina Peruana</a></li>
              <li><a href="#">Pampa de Amancaes</a></li>
              <li><a href="#">Lalo El Norteño</a></li>
              <li><a href="#">Piacere</a></li>
              <li><a href="#">El Pregón</a></li>
              <li><a href="#">Casa Faustina</a></li>
              <li><a href="#">La Tomasita</a></li>
              <li><a href="#">Fernando’s</a></li>
              <li><a href="#">Restaurante Huancahuasi</a></li>
              <li><a href="#">Istanbul Kebab House</a></li>
              <li><a href="#">Picantería La Lucila</a></li>
              <li><a href="#">La Cochera Restaurante</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit" >
            <img class="imgLogo" src="../img/mistura.jpg">
          </div>
          <div class="row-fluid">
            <!--<div class="span4">-->
              <h2>Mistura</h2>
              <p>Mistura es una de las  ferias gastronómicas más importantes de América Latina , se celebra anualmente en  Lima y reúne diversos actores de la cadena gastronómica peruana: pequeños agricultores, cocineros, panaderos, vivanderas, dulceras, mozos, restaurantes, institutos de cocina, comensales, entre otros; para rendirle homenaje a la biodiversidad peruana, una de las más ricas del planeta. </p>
              <p><a class="btn" target="_blank" href="http://www.mistura.pe/QueComer/restaurante-anchoveta-azul">Visitame &raquo;</a></p>
            <!--</div>/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Taller de Desarrollo para Entorno Web 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

  </body>
</html>
